#cards {
    display: flex;
    position: relative;
    overflow: hidden;
}

.box1 {
    padding: 20px;
    height: 300px;
    width: 300px;
    border: 5px double green;
    background-color: azure;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: larger;
    color: black;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
        rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    background-image: url(flower.jpg);
}

.box2 {
    padding: 20px;
    margin-left: 60px;
    height: 300px;
    width: 300px;
    border: 5px double purple;
    background-color: azure;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: larger;
    color: rgb(11, 42, 138);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
        rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    background-image: url(marriage.webp);
}

.box3 {
    padding: 20px;
    margin-left: 60px;
    height: 300px;
    width: 300px;
    border: 5px double rgb(219, 70, 59);
    background-color: azure;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: larger;
    color: maroon;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
        rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    background-image: url(anniversary.avif);
}

.box4 {
    padding: 20px;
    margin-left: 60px;
    height: 300px;
    width: 300px;
    border: 5px double maroon;
    background-color: azure;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: larger;
    color: rgb(194, 6, 6);
    box-shadow: rgba(211, 10, 10, 0.25) 0px 30px 60px -12px inset,
        rgba(229, 30, 30, 0.3) 0px 18px 36px -18px inset;
    background-image: url(engagement.jpg);

}

.box5 {
    padding: 20px;
    margin-left: 60px;
    height: 300px;
    width: 300px;
    border: 5px double black;
    background-color: azure;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: larger;
    color: rgb(244, 9, 9);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
        rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    background-image: url(convocation.jpg);
}
