*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.board{
    width: 50%;
    height: 200px;
    background-color: black;
    display: flex;
    gap: 10px;
    /* flex-direction: column; */
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;


}
.pin{
    width: 50px;
    height: 50px;
    color: black;
    background-color: lightpink;
    justify-content: center;
    /* justify-content: space-between; */
    align-items: center;
    display: flex;

}